venv
chat
soft-ui-dashboard-django
delte
packges.txt
logfile
theme
ls.text
db
migrations
migrations/*
database/admin.txt
database/ob.py 
database/views.txt
database/models.txt 
 
**/__pycache__/

*.pyc
