django==5.1.7          # Replace with your actual Django version
django-cors-headers    # For corsheaders
channels               # For channels
djangorestframework    # For rest_framework
django-filter          # For django_filters
django-import-export   # For import_export
psycopg2               # For PostgreSQL support with django.contrib.postgres
gunicorn==23.0.0
dj-database-url
whitenoise
